<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paginal Principal</title>
</head>

<body>
    {{>menu}}

    <h1>vehículos Terrestres</h1>
    <hr>
    <p>
        ¿Qué es el transporte terrestre?
        El transporte terrestre es el conjunto de los medios de transporte que operan mediante vehículos terrestres, o
        sea,
        vehículos que se desplazan sobre la superficie sólida de la Tierra. La mayoría de ellos involucran vehículos
        dotados de
        ruedas, ya sea que se desplacen sobre rieles, o libremente sobre la superficie.

    </p>

    <div>
        <img src="./assets/images/terrestre1.jpg" alt="" height="400" width="500">
    </div>

    <p>
        El metro (apócope de ferrocarril metropolitano) es un sistema de trenes urbanos ubicado dentro de una ciudad y
        su área
        metropolitana. Se caracteriza por ser un transporte masivo de pasajeros en las grandes ciudades, uniendo
        diversas zonas
        y sus alrededores, con alta capacidad y frecuencia y de forma segregada a otros sistemas de transporte. Los
        ferrocarriles metropolitanos se construyen de forma subterránea o en superficie, aunque la mayoría de sistemas
        utilizan
        modelos mixtos donde se combinan tramos en ambas modalidades. Estos sistemas operan sobre distintas líneas que
        componen
        una red, deteniéndose en estaciones no muy distanciadas entre sí y ubicadas a intervalos generalmente regulares.
        El
        metro es un sistema de transporte más rápido y con mayor capacidad que el tranvía o el tren ligero, pero no es
        tan
        rápido ni cubre distancias de largo alcance como el tren suburbano o de cercanías. Es indiscutible su capacidad
        para
        transportar grandes cantidades de personas en distancias cortas con rapidez, con un uso mínimo del suelo. Pese a
        que la
        tendencia expansiva de las redes de metro de las grandes ciudades las ha llevado a conectar con otros núcleos de
        población periféricos del área metropolitana, el tipo de servicio que prestan sigue siendo perfectamente
        independiente y
        distinguible del que prestan otros sistemas de transporte ferroviarios.
    </p>
    <div>
        <img src="./assets/images/terrestre2.jpg" alt="" height="400" width="500">
    </div>


    {{>footer}}

</body>

</html>